* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: purple;
  color: orange;
  grid-template-rows: 50px 70px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: orange;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: orange;
  background-color: purple;
  border: solid 1px orange;
}

nav > a:hover:not(.active) {
  color: purple;
  background-color: orange;
  border: solid 1px purple;
}

nav > a.active {
  color: purple;
  cursor: default;
}

a {
  color: #00B7FF;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid orange;
}

table td {
  padding: 10px;
  text-align: center;
}
